# This configuration file is used for Scout APM.
# Environment variables can also be used to configure Scout. See our help docs at http://help.apm.scoutapp.com#environment-variables for more information.
common: &defaults

  # key: Your Organization key for Scout APM. Found on the settings screen.
  # - Default: none
  key: <%= Rails.application.credentials.scout[:agent_key] %>

  # log_level: Verboseness of logs.
  # - Default: 'info'
  # - Valid Options: debug, info, warn, error
  log_level: info

  # name: Application name in APM Web UI
  # - Default: the application names comes from the Rails or Sinatra class name
  name: <%= "Civis (#{Rails.env})" %>

  # monitor: Enable Scout APM or not
  # - Default: none
  # - Valid Options: true, false
  monitor: true
  auto_instruments: true

production:
  <<: *defaults

development:
  <<: *defaults
  monitor: false
  auto_instruments: false

test:
  <<: *defaults
  monitor: false
  auto_instruments: false

staging:
  <<: *defaults
