#admin-navbar{
  #menu-content {
    max-height: 80vh;
    overflow:  auto;
    list-style: none;
    padding-left: 0px;
      a li {
      color: #fff;
      padding: 15px;
    }
  }
  .nav-side-menu {
    width: 200px;
    background-color: #242536 !important;
    height: 100vh;
    ul a {
      text-decoration: none; 
    }
    ul li {
      padding: 10px 0px;
    }
    ul a li {
      font-size: 14px;
    }
    ul a li:hover {
      transition: all 200ms ease;
      background-color: #3D4857;
      color: #fff;
    }
    ul a.active li {
      font-weight: 600;
      border-left: 3px solid #f0653a;
      background-color: #151524;
    }
    .navbar-header {
      height: 60px;
      width: 200px;
      margin-bottom: 20px;
      background-color: #151524;
      box-shadow: inset 0px -1px 0px #333B43 !important;
    }
    .text-center span img {
      height: 30px;
      margin: 13px;
    }
  }
}
  .admin-header-navbar {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin-left: 200px;
    width: calc(100% - 200px);
    height: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 20px;
    background-color: #242536;
    box-shadow: 0 0 2px 0 rgba(0,0,0,0.23), 0 1px 0 0 rgba(0,0,0,0.1);
  }
  .main-content {
    margin: 60px 0 0;
    width: calc(100% - 200px);
    max-height: 90vh;
    overflow:  auto;
    .bg-color {
      background-color: #F4F5F7;
    }
  }
.avatar-circle {
  cursor: pointer;
  width: 30px;
  height: 30px;
  background-color: #3ACA60;
  text-align: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;

  .initials {
    height: 3.75%;
    width: 2.08%;
    position: relative;
    font-size: 17px; /* 50% of parent */
    line-height: 28px; /* 50% of parent */
    color: white;
  }

}

@media (max-width: 768px), (max-width: 1024px) and (orientation: landscape) {
.nav-side-menu {
  position: fixed;

  .navbar-toggle {
    display: none;
  }
}

}

#menu-content::-webkit-scrollbar {
  display: none;
}

#admin-profile-dropdown {
  list-style-type: none;
  .dropdown-menu {
    top: 15px;
    left: -118px;
  }
}

.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover {
  text-decoration: none;
  color: #62b1d0 !important;
  background-color: transparent !important;
}

.dropdown-menu > a > li {
  word-wrap: break-word;
  white-space: normal !important;
}

.notifications-menu {
  border-radius: 4px;
  box-shadow: none;
  margin-top: 20px;
  width: 400px;
  max-height: 455px;
  overflow-y: scroll;
}

.dropdown ul.dropdown-menu:before {
  content: "";
  border-bottom: 10px solid white;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  position: absolute;
  top: -10px;
  right: 16px;
  z-index: 10;
}

.dropdown ul.dropdown-menu:after {
  content: "";
  border-bottom: 12px solid #ccc;
  border-right: 12px solid transparent;
  border-left: 12px solid transparent;
  position: absolute;
  top: -12px;
  right: 14px;
  z-index: 9;
}

#admin-dropdown-li li {
  margin: 0px 20px;
}

.nav-side-menu .nav > li p {
  color: white;
  padding-left: 40px;
  padding-top: 10px;
}

.nav-side-menu .nav > li.active {
  border-left: 0 !important;
}

.nav-side-menu #menu-content > li:nth-last-child(2) {
  margin-bottom: 0 !important;
}

.nav-side-menu {
  background-color: #337ab7 !important;
}

.sign-up-text {
  padding: 30px 15px 20px;
  font-size: 18px;
  font-weight: 600;
}

.width-100 {
  width: 100%;
}

.admin-filter-bg {
  position: fixed;
  left: 0;
  right: 0;
  top: 60px;
  margin-left: 200px;
  width: calc(100% - 215px);
  height: 60px;
  display: flex;
  background-color: white;
  box-shadow: 0 1px 0 0 rgba(0,0,0,0.06);
  z-index: 99;
  padding: 0 5px;
}

.admin-filter-parent { 
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  padding-right: 15px;
}

.admin-filter-child {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  .admin-filter-child-field {
    position: relative;
    width: 280px;
    margin-right: 10px;
  }
}

.admin-index-record-count {
  opacity: 0.5;
  color: #31383D;
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 19px;
  margin-top: 30px;
}

.company-logo {
  display: flex;
  justify-content: center;
  padding-top: 10px;

  img{
  width: 100px;
  height: auto;
}
}

.company-white-bg {
  background-color: white;
  box-shadow: inset 0px -1px 0px #EBECF0;
}

.consultation-deadline-top {
  margin-top: 115px !important;
}

.consultation-deadline-notification-top {
  top: 121px !important;
}

.deadline-notification-bg {
  background: #7838E7;
  box-shadow: inset 0px -1px 0px #EBECF0;
}

.deadline-title {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  color: #FFFFFF;
}

.deadline-description {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #FFFFFF;
}

#admin-navbar .organisation-side-navbar {
  background-color: #1F252C !important;
  ul a.active li {
      font-weight: 600;
      border-left: 3px solid #f0653a;
      background-color: transparent !important;
    }
}

.organisation-navbar-header {
  background-color: #1F252C !important;
}