@import "variables";
@for $i from 1 through 20 {
  $base: 5;
  $width: $base * $i;
  .width-#{$width} {
      width: $width + 0%;
      }
}

.submit-btn {
  background-color: #008080;
  font-size: 16px;
  font-weight: 600;
  border: 1px solid #008080;
  min-width: 10rem;
  height: 36px;
  color: #fff;
}

.admin-bg-color {
  background-color: #F4F5F7;
}

.breadcrumb {
  color: $breadcrumb-color;
  font-size: 14px;
  line-height: 25px;
  padding-left: 34px;
  margin: 0px auto;
  display: flex;
  position: fixed;
  top: 10px;
  z-index: 99999;
  align-items: baseline;
  background-color: transparent !important;

  a:link{color:$breadcrumb-color}
	a:visited	{
		color:inherit
			.active {
				color: white;
			}
	}
	a+a:before {
    margin-left: 5px;
    color: $breadcrumb-color;
    content: "/\00a0";
	}
  a, a:hover {
    color: #9e9e9e;
    text-decoration: none;
  }
	.active {
		color: #FFFFFF !important;
		font-weight: 600;
    opacity: unset;
	}

}

.admin-table {
  td {
   color: #172B4D !important;
   font-size: 16px !important;
  }
  tbody tr {
   height: 60px;
   background-color: white;
   box-shadow: inset 0 1px 0 0 #EBECF0;
  }
  thead > tr > th {
   background-color: #FAFBFC !important;
   box-shadow: inset 0 1px 0 0 #EBECF0 !important;
   color: #172B4D !important;
   font-weight: 600 !important;
   font-size: 16px !important;
   border-bottom: none;
   height: 40px;
  }

  table {
  margin-top: -22px;
  box-shadow: inset 0 1px 0 0 #EBECF0;
    td {
      color: #172B4D !important;
      font-size: 16px !important;
    }

    tbody tr {
      height: 60px;
      background-color: white;
      box-shadow: inset 0 1px 0 0 #EBECF0;
    }
    thead > tr > th {
      background-color: #FAFBFC !important;
      box-shadow: inset 0 1px 0 0 #EBECF0 !important;
      color: #172B4D !important;
      font-weight: 600 !important;
      font-size: 16px !important;
      border-bottom: none;
      height: 40px;
    }
    .table-date-width {
      width: 13%;
    }
  }
  th .asc:before {
    content: "";
  }
  th .desc:before{
    content: "";
  }
  th .asc:after {
    font-family: FontAwesome;
    content: " \f0de";
    position: relative;
    top: 5px;
  }
  th .desc:after{
    font-family: FontAwesome;
    content: " \f0dd";
    position: relative;
    top: -1px;
  }
}

.admin-index-records-found {
  opacity: 0.5;
  color: #31383D;
  font-size: 16px;
  line-height: 19px;
  padding: 5px 15px;
  width: fit-content;
  position: relative;
  left: 17%;
  bottom: 41px;
}

.ministries-count{
  left: 34%;
}

.all-consultations-count{
  left: 42%;
}

.published-submitted-consultations-count{
  left: 25%;
}

.ministries-export-btn{
  margin-left: auto;
}

.nav-link.active{
background-color: #0e73b9 !important;
}

.admin-filters-wrap {
  width: 100%;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 1px 0 0 rgba(0,0,0,0.06);
  margin-top: 40px;
  overflow-x: scroll;
}

.admin-index-title {
  color: #172B4D;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
}

.admin-content-wrapper {
  padding: 35px 15px 0;
}

.table th, .table td {
  vertical-align: middle !important;
}

.pagination-parent .pagination {
  margin: 0 auto;
}

.admin-list-bg {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  border: 1px solid #EBECF0;
  border-radius: 4px;
  background-color: white;
  box-shadow: 0 0 2px 0 rgba(0,0,0,0.1);
  margin-top: 55px;
  min-height: 150px;
}

.admin-header-text {
  color: #1D2129;
  font-size: 30px;
  line-height: 38px;
}

.admin-details-box {
  margin: 16px 0px;
  padding: 15px 15px 0px 15px;
  box-sizing: border-box;
  min-height: 145px;
  border: 1px solid #EBECF0;
  border-radius: 4px;
  background-color: white;
  box-shadow: 0 4px 9px 0 rgba(0,0,0,0.02);
}

.admin-questions-box{
  margin: 16px 0px;
  padding: 20px;
  box-sizing: border-box;
  height: fit-content;
  width: 75%;
  border: 1px solid #EBECF0;
  border-radius: 4px;
  background-color: white;
  box-shadow: 0 4px 9px 0 rgba(0,0,0,0.02);
  display: flex;
}

.question-type-text{
  flex: 10;
}

.question-type{
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #172B4D;
  mix-blend-mode: normal;
  opacity: 0.6;
}

.question-text{
  margin-top: 10px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #172B4D;
}

.question-edit-delete{
  flex: 1;
  width: 56px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.square-btn-question{
  border-radius: 4px !important;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 20px;
  p{
    margin-bottom: 0;
  }
}

.question-pop-up{
  width: 552px;
  position: fixed;
  left: 50%;
  top: 100px;
  z-index: 99;
  margin-left: -276px;
  background-color: #F4F5F7;
}

.question-pop-up-content{
  margin: 8px 12px;
  padding: 20px 20px 0 20px;
  background-color: #FFFFFF;
  border: 1px solid #EBECF0;
  border-radius: 4px;
}

.pop-up-head{
  width: 100%;
  display: flex;
  height: fit-content;
  justify-content: space-between;
  margin-bottom: 10px;

  .head-text{
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #172B4D;
    mix-blend-mode: normal;
    opacity: 0.6;
    
  }

  .close-symbol{
    color: #D5DBE2;
    margin-bottom: 10px;

  }
}

.modal-footer{
  margin-top: 30px;
}

.cancel-btn{
  color: #979797 !important;
  &:hover{
    background-color: #EBECF0!important;
  }
  border: none!important;
  outline: 0!important;
  cursor: pointer!important;
  font-size: 14px!important;
  font-weight: 700!important;
  border-radius: 4px!important;
  padding: 8px 16px!important;
}

.icon-bg-question {
  height: 24px;
  width: 24px;
  background: #F4F5F7;
  border-radius: 2.4px;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover{
    background-color: rgb(163, 164, 167);
  }

  a {
    text-decoration: none!important;
    font-size: 12px;
    color: #172B4D;
  }

  .fa-trash{
    color: #BF2600;
  }
}

#add-option-btn, #add-option-btn-in-edit {
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #037BFF;
}

.checkbox-option-row{
  display: flex;
  .cross-btn{
    flex: 1;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
  }
}

.checkbox-option {
  width: 15px;
  height: 15px;
  border: 1px solid #D5DBE2;
  border-radius: 2px;
  margin-right: 10px;
  margin-top: 15px;
}

.radio-button-option {
  width: 15px;
  height: 15px;
  border: 1px solid #D5DBE2;
  border-radius: 8px;
  margin-right: 10px;
  margin-top: 15px;
}
.question-input-field{
  border-radius: 2px!important; 
  height: 48px; 
  width: 432px !important;
}

.hidden{
  display: none;
}

.admin-details-box-connection-interests {
  margin: 16px 0px;
  padding: 15px;
  min-height: 60px;
  box-sizing: border-box;
  border: 1px solid #EBECF0;
  border-radius: 4px;
  background-color: white;
  box-shadow: 0 4px 9px 0 rgba(0,0,0,0.02);
}

.parent-toggle {
  margin-left: 20px;
}

.sign-in-notice {
  left: 0 !important;
  background-color: #e65000;
  color: #fff3e0;
  text-align: center;
}

.pointer {
  cursor: pointer;
}

.fa-icon-color {
  color: #242536;
}

.select2-container .select2-selection--single {
  min-height: 35px !important;
  display: flex;
  align-items: center;
}

.select2-container--default .select2-selection--single {
  border-radius: 10px !important;
  border: 1px solid #CACCD1 !important;

  &:focus {
    outline: none !important;
    border-radius: 10px !important;
    box-sizing: border-box !important;
    border: 1px solid #1D2129 !important;
  }
}

.form-select-label-group>label {
  position: absolute;
  top: 0;
  left: 16px;
  display: block;
  font-size: 12px;
  color: #777;
  margin-bottom: 0;
  line-height: 1.5;
  transition: all .1s ease-in-out;
  padding: 3px 12px;
}

.form-select-label-group {
  .select2-container {
    .select2-selection--single, .select2-selection--multiple {
      min-height: 50px !important;
    }

    .select2-selection--single .select2-selection__rendered, .select2-selection--multiple .select2-selection__rendered {
      padding-left: 12px !important;
    }
  }
  .placeholder-padding .select2-selection__rendered {
    padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
    padding-bottom: calc(var(--input-padding-y) / 3);
  }

  .select2-container--default .select2-selection--single .select2-selection__arrow b {
    top: 90%;
  }

  .select2-container--default {
    .select2-selection--single .select2-selection__placeholder, .select2-selection--multiple .select2-selection__placeholder {
      color: #696969 !important;
    }
  }

  .select2-container .select2-search--inline {
    padding-top: 5px;
  }

  .slideup {
    animation: slideUp .2s linear forwards;
    @keyframes slideUp {
      from { transform: translateY(20px); }
      to { transform: translateY(0); }
    }
  }

  .slidedown {
    animation: slideDown .2s linear forwards;
    @keyframes slideDown {
      from { transform: translateY(0); }
      to { transform: translateY(25px); }
    }
  }

}

.select2-selection__placeholder {  
  position: absolute;
  top: 12px;
}

.case-study-btn-width {
  width: 125px;
}

@media screen and (max-width: 1100px) and (min-width: 1000px) {
  .case_studies_table table {
    table-layout: fixed;
    width: 100%;
  }
  .case_studies_table .word-break {
    word-break: break-word;
  }
}

.question-pop-up-content {
  max-height: calc(100vh - 200px);
  overflow-y: auto;
}

.modal-content {
  border: none !important;
}

.was-validated .form-control:valid, .form-control.is-valid {
  border: 1px solid #ced4da !important;
  background-image: none !important;
}

#option-cross {
  cursor: pointer;
}

.page-builder-border {
  border: 1px solid #EBECF0;
}

.cm-page-builder {
  margin: 0 auto !important;
  width: 95%;
}

.nav-tabs {
  border-bottom: none!important;
  li {
    padding: 10px;
    cursor: pointer;
    a:hover  {
      color: white; 
    }
  }
}

.admin-filter-child-field .nav.nav-tabs .active {
  border-bottom: 2px solid #E16D47;
  .organisation-index-title {
    color: #E16D47 !important;
    font-weight: 600;
  }
}

.list-employees-count-left {
  left: 1%;
}

.employee-table {
  width: 50% !important;
  margin-top: -20px;
}

.employee-table th, .employee-table td {
  border-top: none !important;
  background-color: white !important;
}

.child-invite-span {
  font-size: 12px;
  color: rgba(23, 43, 77, 0.6);
}

.employee-name {
  font-size: 14px;
  color: #172B4D;
}

.employee-td-box-shadow {
  box-shadow: inset 0px -1px 0px #EBECF0;
  .fa-trash-alt {
    padding: 5px;
    margin: 5px;
    background: #F4F5F7;
  }
  .fa-trash-alt:before {
    color: #BF2600;
  }
}

.employee-table thead > tr > th {
  background-color: white !important;
  opacity: 0.6;
  border-bottom: none;
}

.profile-picture-parent {
  border: 1px solid #ced4da;
  border-radius: 10px;
  margin-left: 15px !important;
  padding-right: 0 !important;
  padding-top: 10px;
  flex: unset !important;
  display: flex;
  justify-content: center;
  width: 95% !important;
}

.sign-up-form-bg-color {
  background-color: #F6F8FA;
}

.private-response {
  display: flex;
  justify-content: space-between;
}

.submitted {
  display: flex;
  flex-direction: row;
  padding: 0px 16px;
  justify-content: center;
  width: 78px;
  background: #FFFAE6;
  border-radius: 50px;

  .text-color {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    color: #C56B00;
    flex: none;
    order: 0;
    align-self: center;
    margin: 10px 0px;
  }
}

.published {
  display: flex;
  flex-direction: row;
  padding: 0px 16px;
  justify-content: center;
  width: 78px;
  background: #E3FCEF;
  border-radius: 50px;

  .text-color {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    color: #006644;
    flex: none;
    order: 0;
    align-self: center;
    margin: 10px 0px;
  }
}

.expired {
  display: flex;
  flex-direction: row;
  padding: 0px 16px;
  justify-content: center;
  width: 78px;
  background: #EBECF0;
  border-radius: 50px;

  .text-color {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    color: #43526D;
    flex: none;
    order: 0;
    align-self: center;
    margin: 10px 0px;
  }
}

.rejected {
  display: flex;
  flex-direction: row;
  padding: 0px 16px;
  justify-content: center;
  width: 78px;
  background: #7d7f84;
  border-radius: 50px;

  .text-color {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    color: #c5cdda;
    flex: none;
    order: 0;
    align-self: center;
    margin: 10px 0px;
  }
}

.nav-side-menu .fas {
  padding-left: 4px;
}

.nav-side-menu ul .active .fas {
  padding-left: 0px !important;
}
.questions-rounds-tab {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #172B4D;
  .active {
    font-weight: 600;
    color: #E16D47;
    box-shadow: inset 0px -2px 0px #E16D47;
  }
}

.question-header-text {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  color: #172B4D;
}

.question-parent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.square-btn-with-border {
  border-radius: 4px !important;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  background-color: #fff;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  border: 1.5px solid #0E73B9;
  color: #0E73B9 !important;
  padding: 4px 14px;
  margin-bottom: 0;
  text-decoration: none;
  p{
    margin-bottom: 0;
  }
}

.consultation-feedback-flex {
  display: flex;
}

.question-block-border {
  box-shadow: inset -1px 0px 0px #EBECF0;
}

.feedback-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.organisation-question-box-width {
  width: 100% !important;
}

.white-bg-btn {
  background: #FFFFFF !important;
}

.make-change-btn-flex {
  display: flex;
  justify-content: flex-end;
}

.align-end {
  text-align: end;
}

.respondents-count {  
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  color: #172B4D;
  opacity: 0.6;
}

.invite-respondent-checkbox {
  display:none;
}

.invite-respondent-checkbox + label {
  display: inline-block;  
  width: 24px;
  height: 24px;
  cursor: pointer;  
  background-image: url('../images/Add.svg');
  background-repeat: no-repeat;
}

.invite-respondent-checkbox:checked + label {
  background-image: url('../images/Done.svg');
  background-repeat: no-repeat;
}

.half-line {
  border-top: 1px solid rgba(213, 219, 226, 0.5);
}

.invite-respondent-z-index {
  z-index: 1051 !important;
}

.copy-public-url {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  color: rgba(23, 43, 77, 0.6);
}

.icon-with-bg {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #F4F5F7;
  height: 24px;
  width: 28px;
}

.h-20 {
  min-height: 20px; 
}

.mt-66 {
  margin-top: 66px;
}

.questions-box-shadow-top {
  width: 200%;
  box-shadow: inset 0px -1px 0px #EBECF0;
}

.mt-60 {
  margin-top: 60px;
}

.organisation-index-title {
  font-size: 14px;
  line-height: 22px;
  font-weight: normal;
  color: #172B4D;
}

.admin-index-title-bold {
  color: #172B4D;
  font-size: 20px;
  font-weight: 600;
  line-height: 19px;
}

.box-shadow-none {
  box-shadow: none;
}

.profile-picture-square-bg {
  height: 64px;
  width: 64px;
  border-radius: 4px;
}

.extend-deadline-sub-text {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  color: #172B4D;
  opacity: 0.6;
}

.model-pop-up-overflow-none {
  max-height: none;
  overflow-y: unset;
}

.organisation-breadcrumb {
  font-style: normal;
  color: #172B4D;
  font-size: 14px;
  font-weight: normal;
  opacity: 0.6;
  line-height: 22px;
  padding-left: 34px;
  margin: 0px auto;
  display: flex;
  position: fixed;
  top: 10px;
  z-index: 99999;
  align-items: baseline;
  background-color: transparent !important;

  a:link{color:#172B4D}
  a:visited {
    color:inherit
      .active {
        color: white;
      }
  }
  a+a:before {
    margin-left: 5px;
    color: #172B4D;
    content: "/\00a0";
  }
  a, a:hover {
    color: #9e9e9e;
    text-decoration: none;
  }
  .active {
    color: #172B4D !important;
    font-weight: 600;
    opacity: unset;
  }

}

.admin-index-records-found-text {
  font-size: 14px;
  line-height: 22px;
  color: #172B4D;
  opacity: 0.6;
}

.table-bold-title {
  color: #172B4D;
  font-weight: 600;
}

.cm-page-builder {
  min-height: 200px !important;
}

.page-builder-content-height {
  min-height: 100vh;
}