@import "variables";
@for $i from 1 through 20 {
  $base: 5;
  $width: $base * $i;
  .width-#{$width} {
      width: $width + 0%;
      }
}

.submit-btn {
  background-color: #008080;
  font-size: 16px;
  font-weight: 600;
  border: 1px solid #008080;
  min-width: 10rem;
  height: 36px;
  color: #fff;
}

.admin-bg-color {
  background-color: #F4F5F7;
}

.breadcrumb {
  color: $breadcrumb-color;
  font-size: 16px;
  line-height: 25px;
  padding-left: 34px;
  margin: 0px auto;
  display: flex;
  position: fixed;
  top: 10px;
  z-index: 99999;
  align-items: baseline;
  background-color: #242536 !important;

  a:link{color:$breadcrumb-color}
	a:visited	{
		color:inherit
			.active {
				color: white;
			}
	}
	a+a:before {
    margin-left: 5px;
    color: $breadcrumb-color;
    content: "/\00a0";
	}
  a, a:hover {
    color: #9e9e9e;
    text-decoration: none;
  }
	.active {
		color: white !important;
		font-weight: 600;
	}

}

.admin-table {
  td {
   color: #172B4D !important;
   font-size: 16px !important;
  }
  tbody tr {
   height: 60px;
   background-color: white;
   box-shadow: inset 0 1px 0 0 #EBECF0;
  }
  thead > tr > th {
   background-color: #FAFBFC !important;
   box-shadow: inset 0 1px 0 0 #EBECF0 !important;
   color: #172B4D !important;
   font-weight: 600 !important;
   font-size: 16px !important;
   border-bottom: none;
   height: 40px;
  }

  table {
  margin-top: -22px;
  box-shadow: inset 0 1px 0 0 #EBECF0;
    td {
      color: #172B4D !important;
      font-size: 16px !important;
    }

    tbody tr {
      height: 60px;
      background-color: white;
      box-shadow: inset 0 1px 0 0 #EBECF0;
    }
    thead > tr > th {
      background-color: #FAFBFC !important;
      box-shadow: inset 0 1px 0 0 #EBECF0 !important;
      color: #172B4D !important;
      font-weight: 600 !important;
      font-size: 16px !important;
      border-bottom: none;
      height: 40px;
    }
    .table-date-width {
      width: 13%;
    }
  }
  th .asc:before {
    content: "";
  }
  th .desc:before{
    content: "";
  }
  th .asc:after {
    font-family: FontAwesome;
    content: " \f0de";
    position: relative;
    top: 5px;
  }
  th .desc:after{
    font-family: FontAwesome;
    content: " \f0dd";
    position: relative;
    top: -1px;
  }
}

.admin-index-records-found {
  opacity: 0.5;
  color: #31383D;
  font-size: 16px;
  line-height: 19px;
  padding: 5px 15px;
  width: fit-content;
  position: relative;
  left: 17%;
  bottom: 41px;
}

.ministries-count{
  left: 34%;
}

.all-consultations-count{
  left: 42%;
}

.published-submitted-consultations-count{
  left: 25%;
}

.ministries-export-btn{
  margin-left: auto;
}

.nav-link.active{
background-color: #0e73b9 !important;
}

.admin-filters-wrap {
  width: 100%;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 1px 0 0 rgba(0,0,0,0.06);
  margin-top: 40px;
  overflow-x: scroll;
}

.admin-index-title {
  color: #172B4D;
  font-size: 14px;
  font-weight: 600;
  line-height: 19px;
}

.admin-content-wrapper {
  padding: 35px 15px 0;
}

.table th, .table td {
  vertical-align: middle !important;
}

.pagination-parent .pagination {
  margin: 0 auto;
}

.admin-list-bg {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  border: 1px solid #EBECF0;
  border-radius: 4px;
  background-color: white;
  box-shadow: 0 0 2px 0 rgba(0,0,0,0.1);
  margin-top: 55px;
  min-height: -webkit-fill-available;
}

.admin-header-text {
  color: #1D2129;
  font-size: 30px;
  line-height: 38px;
}

.admin-details-box {
  margin: 16px 0px;
  padding: 15px 15px 0px 15px;
  box-sizing: border-box;
  min-height: 145px;
  border: 1px solid #EBECF0;
  border-radius: 4px;
  background-color: white;
  box-shadow: 0 4px 9px 0 rgba(0,0,0,0.02);
}

.admin-questions-box{
  margin: 16px 0px;
  padding: 20px;
  box-sizing: border-box;
  height: fit-content;
  width: 75%;
  border: 1px solid #EBECF0;
  border-radius: 4px;
  background-color: white;
  box-shadow: 0 4px 9px 0 rgba(0,0,0,0.02);
  display: flex;
}

.question-type-text{
  flex: 10;
}

.question-type{
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #172B4D;
  mix-blend-mode: normal;
  opacity: 0.6;
}

.question-text{
  margin-top: 10px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #172B4D;
}

.question-edit-delete{
  flex: 1;
  width: 56px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.square-btn-question{
  border-radius: 4px !important;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 20px;
  p{
    margin-bottom: 0;
  }
}

.question-pop-up{
  width: 552px;
  position: fixed;
  left: 50%;
  top: 100px;
  z-index: 99;
  margin-left: -276px;
  background-color: #F4F5F7;
}

.question-pop-up-content{
  margin: 8px 12px;
  padding: 20px 20px 0 20px;
  background-color: #FFFFFF;
  border: 1px solid #EBECF0;
  border-radius: 4px;
}

.pop-up-head{
  width: 100%;
  display: flex;
  height: fit-content;
  justify-content: space-between;
  margin-bottom: 10px;

  .head-text{
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #172B4D;
    mix-blend-mode: normal;
    opacity: 0.6;
    
  }

  .close-symbol{
    color: #D5DBE2;
    margin-bottom: 10px;

  }
}

.modal-footer{
  margin-top: 30px;
}

.cancel-btn{
  background-color: #EBECF0!important;
  color: #172B4D!important;
  &:hover{
    background-color: #EBECF0!important;
  }
}

.icon-bg-question {
  height: 24px;
  width: 24px;
  background: #F4F5F7;
  border-radius: 2.4px;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover{
    background-color: rgb(163, 164, 167);
  }

  a {
    text-decoration: none!important;
    font-size: 12px;
    color: #172B4D;
  }

  .fa-trash{
    color: #BF2600;
  }
}

#add-option-btn{
  width: fit-content;
  cursor: pointer;
  
}

.checkbox-option-row{
  display: flex;
  justify-content: space-between;
  align-items: center;
  *{
    width: fit-content;
  }

  .input-box{
    flex: 6;
    display: flex;
    align-items: center;
  }
  .cross-btn{
    flex: 1;
    display: flex;
    justify-content: center;
  }
}

.question-input-field{
  border-radius: 2px!important; 
  height: 48px; 
  width: 432px !important;
}

.hidden{
  display: none;
}

.admin-details-box-connection-interests {
  margin: 16px 0px;
  padding: 15px;
  min-height: 60px;
  box-sizing: border-box;
  border: 1px solid #EBECF0;
  border-radius: 4px;
  background-color: white;
  box-shadow: 0 4px 9px 0 rgba(0,0,0,0.02);
}

.parent-toggle {
  margin-left: 20px;
}

.sign-in-notice {
  left: 0 !important;
  background-color: #e65000;
  color: #fff3e0;
  text-align: center;
}

.pointer {
  cursor: pointer;
}

.fa-icon-color {
  color: #242536;
}

.select2-container .select2-selection--single {
  min-height: 35px !important;
  display: flex;
  align-items: center;
}

.select2-container--default .select2-selection--single {
  border-radius: 10px !important;
  border: 1px solid #CACCD1 !important;

  &:focus {
    outline: none !important;
    border-radius: 10px !important;
    box-sizing: border-box !important;
    border: 1px solid #1D2129 !important;
  }
}

.form-select-label-group>label {
  position: absolute;
  top: 0;
  left: 16px;
  display: block;
  font-size: 12px;
  color: #777;
  margin-bottom: 0;
  line-height: 1.5;
  transition: all .1s ease-in-out;
  padding: 3px 12px;
}

.form-select-label-group {
  .select2-container {
    .select2-selection--single, .select2-selection--multiple {
      min-height: 50px !important;
    }

    .select2-selection--single .select2-selection__rendered, .select2-selection--multiple .select2-selection__rendered {
      padding-left: 12px !important;
    }
  }
  .placeholder-padding .select2-selection__rendered {
    padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
    padding-bottom: calc(var(--input-padding-y) / 3);
  }

  .select2-container--default .select2-selection--single .select2-selection__arrow b {
    top: 90%;
  }

  .select2-container--default {
    .select2-selection--single .select2-selection__placeholder, .select2-selection--multiple .select2-selection__placeholder {
      color: #696969 !important;
    }
  }

  .select2-container .select2-search--inline {
    padding-top: 5px;
  }

  .slideup {
    animation: slideUp .2s linear forwards;
    @keyframes slideUp {
      from { transform: translateY(20px); }
      to { transform: translateY(0); }
    }
  }

  .slidedown {
    animation: slideDown .2s linear forwards;
    @keyframes slideDown {
      from { transform: translateY(0); }
      to { transform: translateY(25px); }
    }
  }

}

.select2-selection__placeholder {  
  position: absolute;
  top: 12px;
}

.case-study-btn-width {
  width: 125px;
}

@media screen and (max-width: 1100px) and (min-width: 1000px) {
  .case_studies_table table {
    table-layout: fixed;
    width: 100%;
  }
  .case_studies_table .word-break {
    word-break: break-word;
  }
}