.admin-status-approved {
	height: 36px !important;
  display: inline-block !important;
  border-radius: 10px !important;
  background-color: #00875A !important;
  font-size: 14px !important;
  font-weight: 600 !important;
  padding: 6px !important;
  color: white!important;

  a {
    color: white !important;
  }
}

.admin-status-rejected {
  height: 36px !important;
  display: inline-block !important;
  border-radius: 10px !important;
  background-color: #FF5630 !important;
  font-size: 14px !important;
  font-weight: 600 !important;
  padding: 6px !important;
  a {
    color: white !important;
  }
}

.admin-status-pending {
  height: 36px !important;
	display: inline-block !important;
	border-radius: 2px !important;
	background-color: #FFECE7 !important;
	color: #F48924 !important;
  font-size: 14px !important;
  font-weight: 600 !important;
	padding: 2px 6px !important;
}

.user-timeline-profile-picture-bg {
  height: 50px;
  width: 50px;
  border-radius: 25px;
  object-fit: fill;
}

.user-name-list {
  width: 65%;
  display: flex;
}

.user-profile-padding {
  padding: 20px 20px 0px;
}

.user-name-list .combine-user-list {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 8px;
}

.edit-user-name {
  color: #172B4D;
  font-size: 20px;
  font-weight: 600;
  line-height: 27px;
}

.edit-user-last-active {
  color: #9B9B9B;
  font-size: 13px;
  line-height: 14px;
}

.show-page-parent-details {
  display: flex;
  padding-bottom: 20px;

  .show-page-label-details {
    opacity: 0.6;
    color: #172B4D;
    font-size: 14px;
    line-height: 19px;
    width: 18%;
  }

  .show-page-input-details {
    color: #172B4D;
    font-size: 14px;
    line-height: 19px;
    width: 88%;
  }
}

.button-position { 
  display: flex;
  width: 25%;
  align-items: baseline;
  position: fixed;
  top: 70px;
  right: 30px;
  z-index: 99;
  justify-content: flex-end;
}

.icon-bg {
  height: 40px;
  width: 40px;
  border-radius: 4px;
  background-color: #F4F5F7;
  padding: 11px 9px 10px 14px;

  a {
    text-decoration: none;
  }

  a:hover {
    color: #242536;
  }
}

.btn {
  background-color: #0e73b9 !important;
  color: #fff !important;
  border-radius: 24px !important;
  border: none !important;
  outline: 0 !important;
  cursor: pointer !important;
  font-size: 14px !important;
  font-weight: 700 !important;
  border-radius: 24px !important;
  padding: 8px 16px !important;
  margin-left: auto;
}

.admin-update-button-position {
  position: absolute;
  top: 72px;
  right: 30px;
  z-index: 99;
}

#dropdown-container{
  .dropdown-menu {
    top: 15px;
    left: -116px;
  }
  ul{
    margin-block-start: 0em !important;
  }
  *{
    text-align: left;
  }
}

#show-page-dropdown {
  
  li {
    margin: 0px 20px;
    font-weight: 700;
  }
  
  a{
    margin: 6px 4px;
    width: 100%;
    text-align: left;
  }
}

.ellipsis-icon{
  font-size: 35px;
  cursor: pointer;
  color: #242536;
}

.dropdown-with-icon{
  display: flex;
  justify-content: space-between;
  height: -webkit-fill-available;
}

.dropdown-without-icon{
width: fit-content;
padding: 8px 2px;
display: flex;
margin: auto;
  .mr-3{
    margin: 0 auto !important;
    text-align: center !important;
  }
}

@media screen and (max-width: 1100px) and (min-width: 1000px) {
  .admin-filter-parent .admin-filter-child .col-md-2 {
    flex: unset;
    max-width: 23% !important;
  }
}