@import '~bootstrap/scss/bootstrap';
$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import 'select2/dist/css/select2';
@import 'pc-bootstrap4-datetimepicker/build/css/bootstrap-datetimepicker';
@import 'trix/dist/trix';


html * {
  font-family: Lato;
}
.index-option-bar {
  display: flex;
  justify-content: space-between;
}
