:root {
  --input-padding-x: .75rem;
  --input-padding-y: .75rem;
}

.login-panel-input-width {
	padding: 15% 25%;
}

.login-form-bg-color {
  height: 99vh;
  background-color: #F6F8FA;
}

.login-form {
	background-color: #fff;
}

.sign-in-button {
  width: 90%;
  background-color: teal !important;
  color: #fff !important;
  border-radius: 24px !important;
  border: none !important;
  outline: 0 !important;
  cursor: pointer !important;
  font-size: 14px !important;
  font-weight: 700 !important;
  border-radius: 24px !important;
  padding: 8px 16px !important;

  &:focus {
    background-color: rgba(0,0,0,0.2) !important;
  }
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;

  input::-webkit-input-placeholder {
    color: transparent;
  }

  input:-ms-input-placeholder {
    color: transparent;
  }

  input::-ms-input-placeholder {
    color: transparent;
  }

  input::-moz-placeholder {
    color: transparent;
  }

  input::placeholder {
    color: transparent;
  }

  input:not(:placeholder-shown) {
    padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
    padding-bottom: calc(var(--input-padding-y) / 3);
  }

  input:not(:placeholder-shown)~label {
    padding-top: calc(var(--input-padding-y) / 3);
    padding-bottom: calc(var(--input-padding-y) / 3);
    font-size: 12px;
    color: #777;
  }

  input {
    height: auto;
    border-radius: 10px;
    border: 1px solid #CACCD1;

    &:focus {
      outline: none !important;
      border-radius: 10px !important;
      box-sizing: border-box !important;
      border: 1px solid #1D2129 !important;
    }
  }
  
  input, label {
    padding: var(--input-padding-y) var(--input-padding-x);
  }

  label {
    position: absolute;
    top: 0;
    left: 16px;
    display: block;
    margin-bottom: 0;
    /* Override default `<label>` margin */
    line-height: 1.5;
    color: #696969;
    transition: all .1s ease-in-out;
  }
}