.toggle {
  position: relative;
  display: block;
  width: 20px;
  height: 10px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transform: translate3d(0, 0, 0);
}

.toggle:before {
  content: "";
  position: relative;
  top: 3px;
  left: 4px;
  width: 23px;
  height: 6.46px;
  display: block;
  background: #dedede;
  border-radius: 8px;
  transition: background 0.2s ease;
}

.toggle span {
  position: absolute;
  top: 0;
  left: 0;
  width: 13px;
  height: 13px;
  display: block;
  border-radius: 10px;
  transition: all 0.2s ease;
  background-color: white;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.3)
}

.toggle span:before {
  content: "";
  position: absolute;
  display: block;
  margin: -18px;
  width: 56px;
  height: 56px;
  background: rgba(79,46,220,0.5);
  border-radius: 50%;
  transform: scale(0);
  opacity: 1;
  pointer-events: none;
}

.alert {
  width: 30%;
  z-index: 999 !important;
  position: absolute !important;
  left: 200px;
  right: 0;
  margin: auto;
}

.flash_info {
  background-color: #e65000;
  color: #fff3e0;
  text-align: center;
}

.flash_success_info {
  background-color: #00875A;
  color: #fff;
  text-align: center;
}

.link-bg-color {
  color: #2684FF;
  font-size: 14px;
  font-weight: bold;
  line-height: 22px;
}

.action-btn {
  background-color: #e16d47 !important;
  color: #fff !important;
  border-radius: 10px !important;
  border: none !important;
  outline: 0 !important;
  cursor: pointer !important;
  font-size: 14px !important;
  font-weight: 700 !important;
  border-radius: 24px !important;
  padding: 8px 16px !important;
}

.action-btn:hover {
  background-color: #c04f2a !important;
}

#profile-container {
  width: 75px;
  height: 75px;
  overflow: hidden;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  margin-bottom: 1rem;
}

#profile-container img {
    height: 75px;
}

.select2-container {
  width: 100% !important;
}

.btn-parent {  
  display: flex;
  justify-content: center;
  align-items: center;
}

.featured-color {
  color: #f2b01e;

  &:hover {
    color: #f2b01e !important;
  }
}

a.disabled {
  color: gray;
  pointer-events: none;
}

trix-toolbar .trix-button-row {
  font-size: 12px;
}

.trix-toolbar-parent {
  border: 1px solid #C1C7D0;
  border-radius: 6px;
}

.form-label-group input:focus, .form-label-group trix-editor:focus {
  border: none !important;
}

.form-label-group trix-editor { 
  border: none !important;
  border-top: #bbb !important;
  height: 500px !important;
  overflow-y: scroll !important;
}